header{
    width: 100%;
    height: 56px;
    background-color:#ffffff;
    position:fixed;
    box-shadow: 1px 1px 5px grey;
    z-index: 1;
}
.tags{
    position: absolute;
    left: 1163px;
    top: 21px;
}
.tag1,.tag2,.tag3,.tag4{
    padding-right: 17px;
    width: 24px;
}
.gtag{
    padding-left: 19px;
    padding-top: 19px;
    width: 24px;
}
body{
    margin: 0px;
}
.section{
    width: 100%;
    height: 265px;
    background-color: ffffff;
}
.box-in{
    position: absolute;
    top: 114px;
    width: 48%;
    height: 190px;
    background-color: ffffff;
    margin-left: 350px;
}
.text-section{
    margin-left: 120px;
    margin-top: 4px;
    color: #3c4043;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: -4px;
    font-weight: 700
}
.text1{
    font-size: 60px;
    line-height: 66px;
    width: -1px;
    letter-spacing: -4px;
    font-weight: 700;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    color: #188038;
    position: absolute;
    left: 151px;
    top: 10px
}
.main{
    width: 100%;
    height: 1898px;
    background-color: ffffff;
}
.checkbox{
    margin-left: 43px;
    position: absolute;
    top: 506px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    color: #3c4043;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    letter-spacing: -0px;
}
.input2{
    margin-top: 15px;
}
.l-text{
    color:#3c4043;
    font-size: 13px;
    font-weight: 700;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    position: absolute;
    top: 457px;
    left: 50px;
}
.main-part{
    display: flex;
    justify-content: flex-end;
    padding-top: 151px
}
.part,.part1,.part2{
    width: 21%;
    height: 358px;
    background-color: #f8f9fa;
    margin-right: 29px;
}
.pic1,.pic2,.pic3,.pic4,.pic5,.pic6,.pic7,.pic8{
    width: 76%;
    padding-left: 35px;
    padding-top: 72px;
}
.t1,.t2,.t3,.t4,.t5,.t8{
    color: #3c4043;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    font-size: 17px;
    line-height: 150px;
    font-weight: 700;
}
.t6,.t7{
    color: #3c4043;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    font-size: 17px;
    line-height: 60px;
    font-weight: 700;
}
.main-part2{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-left: 100px;
}
.part-1,.part-2{
    width: 23%;
    height: 358px;
    margin-right: 31px;
    background-color: #f8f9fa;
    margin-top: 148px
}
.t-end{
    margin-left: 1037px;
    margin-top: 154px;
    font-family: "Google Sans",Arial,sans-serif;
}
.t-end1,.t-end2,.t-end3{
    list-style-type: none;
    padding-top: 30px;
}
.t-end4{
    margin-left: 875px;
    margin-top: -128px;
    font-family: "Google Sans",Arial,sans-serif;
}
footer{
    width: 100%;
    height: 61px;
    background-color: #ffffff;
}
.line{
    margin-top: 0px;
    width: 1146px;
}
.end-tags{
    display: flex;
    padding-left: 82px;
    padding-top: 15px;
}
.twi,.inst,.face,.yout,.tik{
    margin-left: 16px;
    width: 20px;
}
.text-end{
    display: flex;
    padding-left: 708px;
    position: absolute;
    top: 2176px;
}.t-e1,.t-e2,.t-e3,.t-e4,.t-e5{
    padding-left: 24px;
    font-family: "Google Sans",Arial,sans-serif;
    font-size: 12px;
}
.ind{
    width: 28px;
    margin-left: 692px;
    position: absolute;
    top: 2185px;
}